<ul class="navigation">
  <li{{#if activeHome}} class="active"{{/if}}><a href="/">Home</a></li>
  <li{{#if activeTravel}} class="active"{{/if}}><a href="/travel">Travel</a></li>
  <li{{#if activeRooms}} class="active"{{/if}}><a href="/rooms">Rooms</a></li>
  <li{{#if activeMeals}} class="active"{{/if}}><a href="/meals">Meals</a></li>
  <li{{#if activeNews}} class="active"{{/if}}><a href="/news">News</a></li>
  <li{{#if activeAbout}} class="active"{{/if}}><a href="/about">About</a></li>
  <li{{#if activeContact}} class="active"{{/if}}><a href="/contact">Contact</a></li>
  <li{{#if activeAdmin}} class="active"{{/if}}><a href="/admin">Admin</a></li>
</ul>
