<div id="navigation">
  <ul>
    <li{{#if activeHome}} class="selected"{{/if}}><a href="/">Home</a></li>
    <li{{#if activeTravel}} class="selected"{{/if}}><a href="/travel">Travel</a></li>
    <li{{#if activeRooms}} class="selected"{{/if}}><a href="/rooms">Rooms</a></li>
    <li{{#if activeMeals}} class="selected"{{/if}}><a href="/meals">Meals</a></li>
    <li{{#if activeNews}} class="selected"{{/if}}><a href="/news">News</a></li>
    <li{{#if activeAbout}} class="selected"{{/if}}><a href="/about">About</a></li>
    <li{{#if activeContact}} class="selected"{{/if}}><a href="/contact">Contact</a></li>
    <li{{#if activeAdmin}} class="selected"{{/if}}><a href="/admin">Admin</a></li>
  </ul>
</div>
